<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- property -->
    <springProperty name="APPLICATION" source="spring.application.name"/>

    <!-- appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <!-- layout と呼ばれる設定項目 -->
        <!-- https://logback.qos.ch/manual/layouts.html -->
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%thread] %-5level %logger{100} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT_WITH_MDC" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %mdc - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="LogstashJSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
            <includeCallerData>true</includeCallerData>
            <timeZone>JST</timeZone>
            <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSS</timestampPattern>
            <!-- https://github.com/logfellow/logstash-logback-encoder?tab=readme-ov-file#customizing-standard-field-names -->
            <fieldNames>
                <mdc/>
                <version>version</version>
                <timestamp>timestamp</timestamp>
            </fieldNames>
            <customFields>
                {
                "application": "${APPLICATION}"
                }
            </customFields>
        </encoder>
    </appender>
    <springProfile name="default,test">
        <root level="info">
            <appender-ref ref="STDOUT"/>
        </root>
        <!-- logger -->
        <logger name="kiyotakeshi.com.example.playground.log" level="debug" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>
        <logger name="kiyotakeshi.com.example.playground.log.inner" level="trace" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>
        <logger name="kiyotakeshi.com.example.playground.log.json" level="trace" additivity="false">
            <appender-ref ref="LogstashJSON"/>
        </logger>
        <logger name="kiyotakeshi.com.example.playground.log.mdc" level="info" additivity="false">
            <appender-ref ref="STDOUT_WITH_MDC"/>
        </logger>
    </springProfile>
</configuration>
